<?xml version="1.0"?>
<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->



  <!-- BEGIN ROBOT 1 -->
<group ns="/robot1">
  <param name="tf_prefix" value="atlas1" />

   <rosparam file="$(find atom)/config/control.yaml" command="load" ns="/robot1" /> 
   
<arg name="urdf_file" default="$(find xacro)/xacro '$(find atom)/urdf/atom.xacro' --inorder" />
  <param name="robot_description" command="$(arg urdf_file)" />
      
<include file="$(find atom)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -42.095 -y 21.27  -z 0.099957 -R 0 -P 0 -Y -1.092" />
      <arg name="robot_name"  value="robot1" />
      <arg name="n2" value="rob1" />
</include>
   

  </group>
  
    <!-- BEGIN ROBOT 2 -->
  <group ns="/robot2">
  <param name="tf_prefix" value="atlas2" />

   <rosparam file="$(find atom)/config/control.yaml" command="load" ns="/robot2" /> 
   
<arg name="urdf_file" default="$(find xacro)/xacro '$(find atom)/urdf/atom.xacro' --inorder" />
  <param name="robot_description" command="$(arg urdf_file)" />
      
<include file="$(find atom)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -16.83 -y -38.03 -z 0 -R 0 -P 0 -Y 1.95" />
      <arg name="robot_name"  value="robot2" />
      <arg name="n2" value="rob2" />
</include>	
    </group> 
    
    
    
    

  
  
</launch>
